html{
    background-color: #111827;
    overflow-y: hidden;
}
@font-face{
    font-family: 'Titillium Web';
    src: url('./fonts/Titillium_Web/TitilliumWeb-Light.ttf')
}
body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    font-family: 'Titillium Web';
}
#content{
    flex-direction: row;
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: #111827;
}
.pane1{
    overflow-y: hidden;
    display: flex;
    height: 100%;
    width: 50%;
    flex-direction: row;
    border-right: solid #DD571C;
    border-width: 1px;
}
.navbar{
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 12.5%;
    border-right: solid #DD571C;
    border-width: thin;
    text-decoration: none;
}
.icons{
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    gap: 4rem;
    color: #DD571C;
    text-decoration: none;
}
.mail{
    color: #DD571C;
}
.nav-link{
    color: inherit;
    color: #DD571C
}
.intro{
    padding-top: 2rem;
    padding-left: 1rem;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    flex-direction: column;
    color: white;
    align-items: center;
}
.pane2{
    overflow-y: auto;
    padding-left: 1rem;
    display: flex;
    padding-top: 3rem;
    flex-direction: column;
    height: 100%;
    width: 50%;
    color: white;
    gap: 4rem;
}
.pane3{
    flex-direction: row;
    height: 1/3;
    width: 100%;
    display: flex;
    padding-right: 4;
    flex-direction: column;
}
.about{
    padding-right: 2rem;
    text-align: center;
}
.points{
    gap: 5rem;
}
.photo{
    display: flex;
    margin: auto;
}
.pane4{
    display: flex;
    height: 1/3;
    width: 100%;
    gap: 1rem;
}
.pane5{
    display: flex;
    height: 1/3;
    width: 100%;
}
.contact{
    text-align: center;
}
